.carrosselContainer {
    min-width: 140%;
    overflow:hidden;
    display: flex;
    justify-content: center;
    gap: 12px;
    cursor: grab;
}

.inner{
   display: flex;
   cursor: grab;
}

.photo {
    object-fit: contain;
    width: max-content;
    height: 40vh;
    pointer-events: none;
    border-radius: 12px;
    cursor: grab;
    box-shadow: 1px 1px 5px grey;
}

@media screen and (max-width:650px) {
    .carrosselContainer{
        min-width: 120%;
        gap: 8px;
    }

}