@font-face {
  font-family: 'roboto';
  src: url(../../public/fonts/Roboto-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: 'open sans';
  src: url(../../public/fonts/OpenSans_Condensed-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family:'face';
  src: url(../../public/fonts/PlayfairDisplay-Regular.ttf);
  font-display: swap;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}