.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 3.5rem;
  height: 100vh;
  user-select: none;
  background-image: linear-gradient(to right, #c31432, #240b36);
  color: #dbdada;
  min-height: fit-content;
  position: relative;
}

.meetingText {
  align-self: flex-start;
  font-size: 1.6rem;
}

.title {
  display: flex;
  flex-direction: column;
  line-height: 0.33;
  margin-bottom: 26px;
}

.linkContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
}

.linkContainer>li {
  list-style: none;
  transform: translateY(0);
  transition: .5s ease-out;
}

.linkContainer>li:hover {
  transform: translateY(-10px);
  transition: .5s ease-in;
}

.reactLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.leavingText {
  text-align: end;
  font-size: 1.6rem;
}

.nextBtn{
  position: absolute;
  bottom: 5%;
  left: 50%;
  background-color: #dbdada;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #dbdada;
  box-shadow: 0 1px 1px #dbdada;
  opacity: 0.5;
  transition: .3s ease-in-out;
}

.nextBtn:hover{
  opacity: 1;
  background-color: #fff;
  transform: translateY(-5px);
}

.changing_word {
  animation: changingAnimation 3s infinite;
}

.projectsContainer{
  background-color: #fff;
}

@keyframes changingAnimation {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  50% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(10px);
  }
}

@media screen and (max-width:650px) {
  .main {
    line-height: normal;
    position: relative;
    font-size: 1.5rem;
    text-align: center;
  }
  .title{
    line-height: 0.40;
    margin-bottom: 12px;
  }

  .meetingText{
    font-size: 1.2rem;
  
  }

  .leavingText{
    font-size: 1.2rem;
  }

  .reactLine {
    flex-direction: column;
  }

  .linkContainer{
    position: absolute;
    top: 10% ;
    font-size: 1rem;
  }
 
}